{% extends 'ecom/admin_base.html' %}
{% load static %}
{% block content %}
<br>
{%include 'ecom/admin_dashboard_cards.html'%}
<br><br><br><br><br>



<hr><hr>
<div class="container" >
  <div style="margin-top: 30px;"> 
  <form class="form-inline" method="post">
    {% csrf_token %}
    <div class="form-group mb-2">
     
      <label for="{{ form.du.id_for_label }}">From :</label>
      {{ form.du }}
     
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="{{ form.au.id_for_label }}">To :</label>
      {{ form.au }}
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label>:</label>
      <button type="submit" class="btn btn-primary mb-2">Recherche</button>
    </div>
   
  </form>
</div>


    <div class="panel panel-primary" >
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">تقارير وإحصائيات</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>مصاريف ثابتة</th>
            <th> مصاريف متغيرة </th>
            <th>بنزين شهر</th>
            <th>  مبيعات شهر</th>
            <th>ارباح شهر</th>  
            <th>عدد الايام</th>
          </tr>
        </thead>
        <tr>  
          <td> {{statique_mois}}</td>
          <td> {{dynamique_mois}}</td>
          <td>{{essence_charges_mois}}</td>
          <td> {{chiffre_charges_mois}}</td>
          <td>{{benifice_charges_mois}}</td>
          <td>{{days}}</td>  
        </tr>
      </table>

  </div>


  <div class="panel panel-primary" >
    <div class="panel-heading" style="text-align:center;">
      <h6 class="panel-title">تقارير الباعة</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
         
          <th> الارباح</th>
          <th> رقم المعاملات</th>
          <th> البنزين  </th>  
          <th> الاسم </th>
        </tr>
      </thead>
      {% for v in vendeurs %}

      <tr>  
        <td> {{v.Arba7}}</td>
        <td> {{v.Chiffre}}</td>
        <td> {{v.Gasoil}}</td>
        <td> {{v}}</td>


      </tr>
      {% endfor %}
    
    </table>

</div>
  {% if request.method == "POST" %}
  <!-- Do something for POST requests -->
  POST
  {{ request.POST.du }}
{% else %}
  <!-- Do something for GET requests -->
  GET
{% endif %}
  
</div>


{% endblock content %}
